@charset "utf-8";

html {font-size: 20px;}
body {font-size: 1rem; letter-spacing: -1px;}
body a {text-decoration: none; color: black;}

/* 헤더영역 */
.header {z-index: 1; width: 100%; background-color: white;}
.header.fixed {position: fixed; top: 0; left: 0; right: 0; border-bottom: 1px solid rgba(44,44,44,0.1);}
.header > div {position: relative; max-width: 1200px; height: 90px; margin: 0 auto; padding: 25px 0; box-sizing: border-box;}
.header > div > h1 {width: 100px; height: 40px; background: url("../image/common/ikea_logo.png") no-repeat center; background-size: cover;}
.header > div > h1 > a {display: block; height: 100%;}
.header > div > h1 > a > span {color: transparent;}
.header .right {position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-left: 150px; box-sizing: border-box;}
.header .right > div {position: relative; padding: 0 225px 0 250px; box-sizing: border-box;}
.header .right > div > .nav {position: absolute; top: 0; left: 0; width: 250px;}
.header .right > div > .nav::after {content: " "; display: block; clear: both;}
.header .right > div > .nav > li {float: left; height: 90px; padding: 0 10px; line-height: 90px;}
.header .right > div > .nav > li > a {display: block; position: relative; font-size: 18px; font-weight: bold;}
.header .right > div > .nav > li > a:after {content: " "; display: inline-block; position: absolute; top:0; left: 0; width: 0; height: 70px; border-bottom: 5px solid black;}
.header .right > div > .nav > li > a:hover:after {width: 100%; transition: 0.5s;}

.header .right > div > .search {position: relative; width: 100%; height: 90px;}
.header .right > div > .search > form {position: absolute; top: 50%; left: 0; right: 20px; transform: translateY(-50%); border-bottom: 1px solid rgb(0, 88, 171);}
.header .right > div > .search > form::before {content: "\e97a"; font-family: xeicon; font-size: 20px; }
.header .right > div > .search > form > input {width: 90%; border: none; font-size: 16px;}

.header .right > div > .gnb {position: absolute; top: 0; right: 0;}
.header .right > div > .gnb > ul::after {content: " "; display: block; clear: both; }
.header .right > div > .gnb > ul > li {float: left; height: 90px; padding: 0 10px; line-height: 90px;}
.header .right > div > .gnb > ul > li > a {display: block;}
.header .right > div > .gnb > ul > li > a::before {font-family: xeicon; font-size: 25px;}
.header .right > div > .gnb > ul > li:nth-child(1) > a::before {content: "\eb72";}
.header .right > div > .gnb > ul > li:nth-child(2) > a::before {content: "\ea2a";}
.header .right > div > .gnb > ul > li:nth-child(3) > a::before {content: "\ea11";}
.header .right > div > .gnb > ul > li:nth-child(4) > a::before {content: "\e9fb";}
.header .right > div > .gnb > ul > li:nth-child(5) > a::before {content: "\e91c";}
.header .right > div > .gnb > ul > li > a > span{position: absolute; text-indent: -10000px;}

/* 사이드바 */
.sidebar {display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background-color: rgba(44,44,44,0.5);}
.sidebar .menu {position: relative; width: 320px; height: 100%; background-color: white; overflow-x: hidden;}
.sidebar .menu.show {width: 640px; transition: 1s;}
.sidebar .menu .logo {padding: 30px 0; box-sizing: border-box;}
.sidebar .menu .logo > h1 { width: 100px; height: 40px; margin-left: 40px; background: url("../image/common/ikea_logo.png") no-repeat center; background-size: cover;}
.sidebar .menu .logo > h1 > a {display: block; height: 100%;}
.sidebar .menu .logo > h1 > a > span {color: transparent;}

.sidebar .menu .gnb {width: 100%; height: 100%; margin-top:40px;}
.sidebar .menu .gnb > ul {width: 320px; height: 100%}
.sidebar .menu .gnb > ul > li {position: relative; padding: 0 40px; box-sizing: border-box;}
.sidebar .menu .gnb > ul > li > a {display: block; position: relative; height: 60px; font-size: 20px; font-weight: bold; line-height: 60px;}
.sidebar .menu .gnb > ul > li > a.hide {display: none;}
.sidebar .menu .gnb > ul > li > a::after {content: " "; display: inline-block; position: absolute; top: 0; left: 0; width: 0; height: 50px; border-bottom: 5px solid black;}
.sidebar .menu .gnb > ul > li > a:hover::after {width: 50px; transition: 0.5s;}
.sidebar .menu .gnb .detail_menu_header {display: none;}
.sidebar .menu .gnb .detail_menu_header.show {display: block;}
.sidebar .menu .gnb .detail_menu_header > ul {}
.sidebar .menu .gnb .detail_menu_header > ul > li {height: 40px; line-height: 40px;}
.sidebar .menu .gnb .detail_menu_header > ul > li > a {display: block; position: relative; font-size: 14px; font-weight: 600;}
.sidebar .menu .gnb .detail_menu_header > ul > li > a:hover {background-color: rgb(245,245,245);}
.sidebar .menu .gnb .detail_menu_header > ul > li > a:hover::after {content: "\e93f"; display: inline-block; position: absolute; right: 0; font-family: xeicon; font-size: 18px;}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav {display: none; position: absolute; top: 0; left: 320px; width: 320px; border-left: 1px solid rgba(44,44,44,0.1);}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav.show {display: block;}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav > ul {padding: 0 30px; box-sizing: border-box;}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav > ul > li {height: 40px; padding: 0 40px; box-sizing: border-box; line-height: 40px;}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav > ul > li:first-child {height: 60px; line-height: 60px;}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav > ul > li > a {display: block; font-size: 16px; font-weight: 600; }
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav > ul > li:first-child > a {font-size: 20px; font-weight: bold;}
.sidebar .menu .gnb .detail_menu_header .detail_menu_nav > ul > li > a:hover {background-color: rgb(245,245,245);}

.sidebar .menu .gnb .back {display: none; position: absolute; top: -40px; left: 40px;}
.sidebar .menu .gnb .back.on {display: block;}
.sidebar .menu .gnb .back::before {content: "\eac4"; display: inline-block; font-family: xeicon; font-size: 30px;}
.sidebar .menu .gnb .back > span {color:transparent;}


.sidebar .close {position: absolute; top:0; left: 50%; bottom: 0; right: 0;}
.sidebar .close::before {content: "\e921"; display: block; position: absolute; top: 20px; right: 20px; width: 40px; font-family: xeicon; font-size: 40px; color: white;}
.sidebar .close > span {color: transparent;}

/* 비주얼 영역 */
.visual {width: 100%; height: 600px; background-color: rgb(44,44,44);}
.visual .main {max-width: 1200px; height: 400px; margin: auto;}
.visual .main .content {position: relative; width: 100%; height: 400px;}
.visual .main .content > li {display: none; width: 100%;}
.visual .main .content > li.on {display: block;}
.visual .main .content > li > ul > .image { position: absolute; top: 50%; transform: translateY(-50%); width: 55%;}
.visual .main .content > li > ul > .image > a {display: block;}
.visual .main .content > li > ul > .image > a > img {width: 100%; border: 3px solid white; border-radius: 25px;}
.visual .main .content > li > ul > .text { position: absolute; right: 0; width: 45%; padding: 50px 40px; box-sizing: border-box; color: white;}
.visual .main .content > li > ul > .text > strong {font-size: 28px; font-weight: bold;}
.visual .main .content > li > ul > .text > .strapline {margin-top: 10px; font-size: 20px; font-weight: bold;}
.visual .main .content > li > ul > .text > .main_text {margin-top: 15px; font-size: 16px; }
.visual .main .content > li > ul > .text > .main_text > span {display: block; line-height: 25px;}
.visual .main .content > li > ul > .text > .detail_box {margin-top: 30px; }
.visual .main .content > li > ul > .text > .detail_box > p {display: inline-block; width: 120px; height: 30px; text-align: center; line-height: 30px; border: 2px solid white; border-radius: 25px;}
.visual .main .content > li > ul > .text > .detail_box > p > a { display: block; font-size: 14px; font-weight: bold; color: white;}
.visual .main .content > li:hover > ul > .text > .detail_box > p {border: 2px solid rgb(251,217,20); transition: 1s;}
.visual .main .content > li:hover > ul > .text > .detail_box > p > a {color: rgb(251,217,20); transition: 1s;}

.visual .gallery {width: 100%; height: 200px; padding: 35px 0; box-sizing: border-box; background-color: rgba(255,255,255,0.07);}
.visual .gallery > .sub {max-width: 1200px; height: 130px; margin: auto;}
.visual .gallery > .sub::after {content: " "; display: block; clear: both;}
.visual .gallery > .sub > li {float: left; width: 20%; height: 130px; padding-right: 20px; box-sizing: border-box; filter: grayscale(100%);}
.visual .gallery > .sub > li.on {filter: grayscale(0%);}
.visual .gallery > .sub > li > a {display: block; border: 2px solid white; box-sizing: border-box;}
.visual .gallery > .sub > li > a > img {width: 100%;}


/* 홈데코 */
.home_deco {max-width: 1200px; margin: 70px auto; padding-bottom: 20px;  box-sizing: border-box; border-bottom: 1px solid rgba(37,37,37,0.2);}
.home_deco > h2 {font-size: 38px; font-weight: bold; text-align: center;}
.home_deco > p {margin-top: 15px; font-size: 16px; font-weight: bold; text-align: center;}
.home_deco .menu {}
.home_deco .menu > ul {max-width: 980px; margin: 15px auto;}
.home_deco .menu > ul::after {content: " "; display: block; clear: both;}
.home_deco .menu > ul > li {float: left; margin: 5px; padding: 10px 30px; border-radius: 25px; background-color: rgb(65,65,65);}
.home_deco .menu > ul > li:hover > a {color: rgb(251,217,20);}
.home_deco .menu > ul > li > a {display: block; font-size: 16px; font-weight: 600; color: white;}
.home_deco .product {}
.home_deco .product > ul {width: 100%;}
.home_deco .product > ul::after {content: " "; display: block; clear: both;}
.home_deco .product > ul > li {float: left; width: 23.5%; margin-right: 2%;}
.home_deco .product > ul > li:last-child {margin-right: 0;}
.home_deco .product > ul > li > a {display: block;}
.home_deco .product > ul > li > a > img {width: 100%; padding: 20px; box-sizing: border-box;}
.home_deco .product .text {margin-top: 20px; padding: 0 20px; box-sizing: border-box;}
.home_deco .product .text > strong {font-size: 20px; font-weight: bold;}
.home_deco .product .text > p {margin-top: 10px; font-size: 14px; font-weight: bold; color: rgb(107,107,107);}
.home_deco .product .text > span {margin: 10px 0; font-size: 18px; font-weight: bold;}
.home_deco .product .text .first_cost {display: block; font-size: 16px; text-decoration: line-through; color: rgb(107,107,107)}
.home_deco .product .text .price_discount {display: block; font-size: 14px;}


/*컨텐트 영역 */
.cont {max-width: 1200px; margin: 70px auto; }
.cont::after {content: ""; display: block; clear: both;}
.cont > div {float: left; width: 49%; margin-right: 2%; overflow: hidden;}
.cont > div:last-child {margin-right: 0;}
.cont > div > a {display: block;}
.cont .image {width: 100%;}
.cont .image > img {width: 100%;}
.cont .image > img:hover {transform: scale(1.2); transition: 2s;}
.cont .text {position: relative; background-color: rgb(244,244,244);}
.cont .text > span {position: absolute; top: -40px; left: 0; height: 40px; padding: 0 30px; box-sizing: border-box; font-size: 18px; font-weight: bold; line-height: 40px;background-color: rgba(255,255,255, 0.5);}
.cont .text > p {height: 100px; padding: 10px 30px; font-size: 16px; line-height: 25px;}
.cont .text .detail_text {padding: 10px 30px; box-sizing: border-box;}
.cont .text .detail_text > p {display: inline-block; width: 150px; height: 35px; border-radius: 25px; line-height: 35px; text-align: center; background-color: rgb(44,44,44);}
.cont .text .detail_text > p > span {display: block; font-size: 16px; font-weight: bold; color: white;}
.cont > div:hover .detail_text > p > span {color: rgb(251,217,20); transition: 1s;}

/* ikea 주요정보 */
.main_infor {width: 100%;}
.main_infor > h2 {padding: 30px 0; font-size: 38px; font-weight: bold; text-align: center; color: rgb(255,255,255); background-color: rgb(44,44,44);}
.main_infor .bg_color {height: 460px; background-color: rgb(44,44,44);}
.main_infor .bg_color > span {color: transparent;}
.main_infor .content {width: 100%; margin-top: -460px;}
.main_infor .content > ul {max-width: 1200px; margin: 0 auto; margin-bottom: 2%;}
.main_infor .content > ul::after {content: " "; display: block; clear: both;}
.main_infor .content > ul > li {position: relative; float: left; width: 32%; margin-right: 2%; overflow: hidden;}
.main_infor .content > ul > li:last-child {margin-right: 0;}
.main_infor .content > ul > li > img {width: 100%;}
.main_infor .content > ul > li > img:hover {transform: scale(1.2); transition: 2s;}
.main_infor .content > ul > li > span {position: absolute; left: 0; bottom: 0; width: 150px; height: 30px; font-size: 16px; font-weight: 400; text-align: center; line-height: 30px; color: white; background-color: rgba(44, 42, 41, 0.5);}
.main_infor .content > ul > li:hover > span {color: rgb(251,217,20); transition: 1s;}

/* 오늘의 공간 */
.today {max-width: 1200px; margin: 70px auto; border-top: 1px solid rgba(37,37,37, 0.2);}
.today > h2 {padding: 70px 0 0 0; font-size: 38px; font-weight: bold; text-align: center;}
.today > p {margin: 15px 0 45px 0; text-align: center;}
.tody > a {display: block;}
.today > a > div {width: 100%; height: 500px; background: url("../image/common/_c5ab7216e7d352d1d8f42a4061e8b7ae.jpg") no-repeat center; background-size: cover;}
.today > a > div > span {color: transparent;}
.today > strong  {font-size: 16px; font-weight: bold; color: rgb(108,108,108);}

/* 푸터영역 */
.footer {width: 100%; background-color: rgb(245,245,245); padding: 0 20px; box-sizing: border-box;}
.footer .top {max-width: 1200px; margin: 0 auto;}
.footer .top > ul {padding: 70px 0; box-sizing: border-box; border-bottom: 1px solid rgba(37,37,37, 0.2);}
.footer .top > ul::after {content: " "; display: block; clear: both;}
.footer .top > ul > li {float: left; width: 25%;}
.footer .top > ul > li > h3 {font-size: 20px; font-weight: bold;}
.footer .top > ul > li > ul {width: 160px; padding: 10px 0; box-sizing: border-box;}
.footer .top > ul > li > ul > li > a {display: block; font-size: 14px; line-height: 40px;}
.footer .bottom {max-width: 1200px; margin: 0 auto;}
.footer .bottom .copy {padding: 20px 0; box-sizing: border-box;}
.footer .bottom .copy:after {content: " "; display: block; clear: both;}
.footer .bottom .copy > span {float: left; font-size: 14px;}
.footer .bottom .copy > ul {float: right;}
.footer .bottom .copy > ul::after {content: " "; display: block; clear: both;}
.footer .bottom .copy > ul > li {float: left; padding: 0 15px; box-sizing: border-box;}
.footer .bottom .copy > ul > li > a {font-size: 14px;}
.footer .bottom .ikea_korea {padding: 10px 0;}
.footer .bottom .ikea_korea > li {font-size: 14px; line-height: 25px;}
.footer .bottom .ikea_korea > li:first-child {font-size: 16px; font-weight: bold;}
.footer .bottom > p {padding: 20px 0 40px 0; font-size: 16px; font-weight: bold; text-align: center;}
